* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
    90deg,
    rgba(65, 185, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
    );
}
.board
{
    display: grid;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    position: relative;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3)
{
    border-top: 0px;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9)
{
    border-right: 0px;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7)
{
    border-left: 0px;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9)
{
    border-bottom: 0px;
}
.cell.X::after,
.cell.X::before,
.board.X .cell:not(.X):not(.O):hover::before,
.board.X  .cell:not(.X):not(.O):hover::after
{
    content: "";
    width: calc(100px * 0.9);
    height: calc(100px*0.15);
    background: white;
    position: absolute;
}
.cell.X::after,
.board.X .cell:hover::after
{
    rotate: -45deg;
}
.cell.X::before,
.board.X .cell:hover::before
{
    rotate: 45deg;
}
.cell.O::after,
.cell.O::before,
.board.O .cell:not(.X):not(.O):hover::before,
.board.O  .cell:not(.X):not(.O):hover::after
{
    content: "";
    width: calc(100px * 0.9);
    height: calc(100px*0.9);
    border-radius: 50%;
    background: white;
    position: absolute;
}
.cell.O,.cell.cell.X{
cursor: not-allowed;
}
.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}
.winning-message-button{
    font-size: 2.5rem;
    background-color: rgba(65,185,131,1);
    padding: 10px,15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}
.winning-message-button:hover{
    color: rgba(65,185,131,1);
    background-color: white;
}
.winning-message-text{
    color: white;
    font-size: 5rem;
}
.board.X .cell:not(.X):not(.O):hover::before,
.board.X  .cell:not(.X):not(.O):hover::after{
    background-color: rgba(255,255,255,0.3) ;
}
.board.O .cell:not(.X):not(.O):hover::before,
.board.O  .cell:not(.X):not(.O):hover::after{
    background-color: rgba(255,255,255,0.3) ;
}